@* For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860 *@
@{
    List<Object> menuItems = new List<Object>();
    menuItems.Add(new
    {
        text = "General",
        separator = true,
    });
    menuItems.Add(new
    {
        text = "Dashboard",
        url = "/Dashboard/Index",
        iconCss = "fa-solid fa-box",
    });
    menuItems.Add(new
    {
        text = "Categories",
        url = "/Category/Index",
        iconCss = "fa-solid fa-folder-closed",
    });
    menuItems.Add(new
    {
        text = "Transactions",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "/Transaction/Index"
    });
    menuItems.Add(new
    {
        text = "Extras",
        separator = true,
    });
    

    // Adding Gantt Chart Menu Items
    menuItems.Add(new
    {
        text = "Create Gantt Chart",
        iconCss = "fa-solid fa-calendar",
        url = "/GanttChart/CreateGanttChart"
    });
    menuItems.Add(new
    {
        text = "Task Manager",
        iconCss = "fa-solid fa-calendar-check",
        url = "/Board/Index"
    });

    menuItems.Add(new
    {
        text = "Investment",
        iconCss = "fa-solid fa-chart-line",
        url = "/Investment/Index"
    });

    // menuItems.Add(new
    // {
    //     text = "Settings",
    //     iconCss = "fa-solid fa-gear",
    //     url = "/Settings/Index"
    // });

    
}

<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="100px" target=".dock-target" enableGestures="false">
    <e-content-template>
        <div class="logo-wrapper">
            <div class="app-logo">
                <img src="~/appicon.png" />
            </div>
            <div class="w-100"></div>
            <i id="sidebar-toggler" class="fa-solid"></i>
        </div>
        <div class="profile-wrapper">
            <img class="profile-pic" src="~/profile.png" />
            <div class="titles d-flex flex-column ps-3">
                <h6 class="mb-0">Expense Tracker</h6>
                <span class="text-muted">Emir Husain</span>
            </div>
        </div>
        <ejs-menu id="menu" items="menuItems" orientation="Vertical" hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dockBar = document.getElementById('sidebar').ej2_instances[0];
        document.getElementById('sidebar-toggler').onclick = function () {
            dockBar.toggle();
        };
    });
</script>
